.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

// justify content
.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

// align items
.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-baseline {
  align-items: baseline;
}

.align-self-center {
  align-self: center;
}

.align-self-top {
  align-self: flex-start;
}
