// color
.text-white {
  color: #ffffff;
}

.text-primary {
  color: $primary;
}

.text-primary-dark {
  color: $primary-dark;
}

// position
.text-center {
  text-align: center;
}

// font-size
.fz-sm {
  font-size: $font-size-sm;
}

// font weight
.fw-bold {
  font-weight: bold;
}
