<footer class="bg-primary">
  <div class="container">
    <div class="footer-top d-flex justify-content-between">
      <div class="footer-left">
        <ul class="footer-menu d-flex mb-9">
          <li class="footer-menu-list mr-6">
            <a href="index.html" class="text-white">首頁</a>
          </li>
          <li class="footer-menu-list mx-6">
            <a href="optical.html" class="text-white">系列鏡框</a>
          </li>
          <li class="footer-menu-list mx-6">
            <a href="stores.html" class="text-white">門市據點</a>
          </li>
          <li class="footer-menu-list mx-6">
            <a href="bloglist.html" class="text-white">部落格</a>
          </li>
          <li class="footer-menu-list mx-6">
            <a href="faq.html" class="text-white">常見問題</a>
          </li>
        </ul>
        <div class="footer-contact text-white d-flex align-items-center mb-2">
          <span class="material-icons-outlined mr-4"> phone </span>
          <p>0800-000-000</p>
        </div>
        <div class="footer-contact text-white d-flex align-items-center mb-8">
          <span class="material-icons-outlined mr-4"> email </span>
          <p>glasses@business.com</p>
        </div>
      </div>
      <ul class="footer-right d-flex">
        <li class="social-media ml-8 ml-lg-4 ml-sm-2">
          <a href="#">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
              alt="facebook"
            />
          </a>
        </li>
        <li class="social-media ml-8 ml-lg-4 ml-sm-2">
          <a href="#">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
              alt="instagram"
            />
          </a>
        </li>
        <li class="social-media ml-8 ml-lg-4 ml-sm-2">
          <a href="#">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
              alt="line"
            />
          </a>
        </li>
      </ul>
    </div>
    <div
      class="footer-bottom d-flex justify-content-between py-8 fz-sm pt-sm-4 pb-sm-6"
    >
      <p class="text-white mb-sm-2">
        Copyright © 2020 Glasses.All rights reserved.
      </p>
      <ul class="rules d-flex">
        <li class="mx-6 mx-sm-0 mb-sm-2">
          <a href="#" class="text-white">隱私權政策</a>
        </li>
        <li class="ml-6 ml-sm-0">
          <a href="#" class="text-white">服務條款</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
