.pagination {
  margin-right: auto;
  margin-left: auto;

  li {
    text-align: center;
    width: 42px;
  }

  li.page {
    width: 81px;
  }

  a {
    display: block;
    color: #555555;
    border: 1px solid #555555;
    margin-right: -1px;
    transition: all 0.5s;
    font-size: 18px;
    line-height: 48px;
  }

  a:hover,
  a.active {
    background-color: $text;
    color: $border-white;
    transition: all 0.5s;
  }

  @include media-576 {
    li {
      width: 40px;
    }

    li.page {
      width: 75px;
    }

    a {
      font-size: 16px;
    }
  }

  @include mobile {
    width: 100%;
  }
}
