.product-menu {
  li {
    text-align: center;
    border-left: 1px solid #dcdcdc;
    position: relative;
  }

  li:last-child {
    border-right: 1px solid #dcdcdc;
  }

  li::before {
    content: "";
    background-color: $primary;
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
  }

  li:hover::before,
  li.active::before {
    display: block;
  }

  a {
    color: $text;
    font-weight: bold;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 32px;
  }

  @include pad {
    a {
      font-size: $h4-fz;
    }
  }

  @include media-576 {
    a {
      font-size: $font-size-base;
    }
  }
}
