<div class="container product-menu">
  <ul class="row justify-content-center">
    <li class="col-4 active"><a href="optical.html">OPTICAL</a></li>
    <li class="col-4"><a href="sunglasses.html">SUNGLASSES</a></li>
    <li class="col-4"><a href="#">FUNCTIONAL</a></li>
  </ul>
</div>
