// left
.footer-left {
  padding-top: 60px;

  .footer-contact {
    font-size: 36px;
    vertical-align: middle;
    .material-icons-outlined {
      font-size: 36px;
    }
  }
}
// right
.footer-right {
  padding-top: 48px;
  .social-media img {
    width: 48px;
  }
}

// bottom
.footer-bottom {
  border-top: 1px solid $border-white;
}

@include pad {
  // footer-right
  .footer-right {
    .social-media img {
      width: 40px;
    }
  }
}

@include media-576 {
  .footer-left {
    padding-top: 24px;

    .footer-menu {
      display: none;
    }

    .footer-contact {
      font-size: $font-size-base;

      .material-icons-outlined {
        font-size: 18px;
        margin-right: 8px;
      }
    }
  }

  .footer-right {
    padding-top: 24px;

    .social-media img {
      width: 24px;
    }
  }
}

@include mobile {
  .footer-bottom {
    flex-direction: column;
  }
  .rules {
    flex-direction: column;
  }
}
