<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
    <!-- material icon -->
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- BANNER SECTION -->
    <div class="index-banner">
      <div class="container">
        <div
          class="index-banner-info text-primary-dark d-flex flex-column align-items-end"
        >
          <p>Promise-Desert 2020 早春系列</p>
          <h2 class="fw-bold mb-1 mb-sm-2">看得清，才能看得遠</h2>
          <a href="#" class="btn-primary px-3"> 立即購買 </a>
        </div>
      </div>
    </div>

    <!-- FEATURES SECTION -->
    <div class="feature-sec">
      <div class="container">
        <h3 class="subtitle text-primary-dark mb-6">用專業的心，做專業的事</h3>
        <ul class="feature-list row flex-wrap">
          <li class="feature-item col-3 col-lg-6 col-sm-12 px-3 mb-lg-6">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true"
              alt="feature 1"
              class="mb-4"
            />
            <h4 class="text-center fw-bold text-primary-dark mb-2">單一價格</h4>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="feature-item col-3 col-lg-6 col-sm-12 px-3 mb-lg-6">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true"
              alt="feature 2"
              class="mb-4"
            />
            <h4 class="text-center fw-bold text-primary-dark mb-2">
              20 分鐘即可取件
            </h4>
            <p>
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </p>
          </li>
          <li class="feature-item col-3 col-lg-6 col-sm-12 px-3 mb-sm-6">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true"
              alt="feature 3"
              class="mb-4"
            />
            <h4 class="text-center fw-bold text-primary-dark mb-2">
              安心售後服務
            </h4>
            <p>
              我們提供長達 120
              天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
            </p>
          </li>
          <li class="feature-item col-3 col-lg-6 col-sm-12 px-3">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-sectioin2-4.png?raw=true"
              alt="feature 4"
              class="mb-4"
            />
            <h4 class="text-center fw-bold text-primary-dark mb-2">關於鏡片</h4>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- CLASSIC SECTION -->
    <div class="classic-sec">
      <div class="container">
        <h3 class="subtitle text-primary-dark mb-12 mb-sm-6">經典系列鏡框</h3>
        <ul class="row classic-list flex-wrap">
          <li class="classic-item col-4 col-xl-12 px-3 mb-xl-6">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true"
              alt="OPTICAL"
              class="col-xl-6 col-sm-12 mb-2"
            />
            <a href="#" class="text-primary text-center">OPTICAL</a>
          </li>
          <li class="classic-item col-4 col-xl-12 px-3 mb-xl-6">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true"
              alt="OPTICAL"
              class="col-xl-6 col-sm-12 mb-2"
            />
            <a href="#" class="text-primary text-center">SUNGLASSES</a>
          </li>
          <li class="classic-item col-4 col-xl-12 px-3">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true"
              alt="OPTICAL"
              class="col-xl-6 col-sm-12 mb-2"
            />
            <a href="#" class="text-primary text-center">FUNCTIONAL</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- DESIGNER SECTION -->
    <div class="designer-sec">
      <div class="container">
        <h3 class="subtitle text-white mb-12 mb-sm-6">聯名設計鏡框</h3>
        <ul class="row designer-list flex-wrap">
          <li class="col-6 col-lg-12 mb-lg-6 pl-3 px-lg-3">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true"
              alt="designer-1"
            />
            <div class="designer-item py-2 text-center">
              <a href="#" class="text-primary fw-bold">DOUBLE A+</a>
            </div>
          </li>
          <li class="col-6 col-lg-12 pr-3 px-lg-3">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true"
              alt="designer-2"
            />
            <div class="designer-item py-2 text-center">
              <a href="#" class="text-primary fw-bold">DOUBLE A+</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- RECOMMEND SECTION -->
    <div class="recommend-sec">
      <div class="container">
        <h3 class="subtitle text-primary-dark mb-12 mb-sm-6">顧客推薦</h3>
        <ul class="row recommend-list flex-wrap">
          <li
            class="recommend-item col-3 col-lg-6 col-sm-12 px-3 mb-lg-6 mb-sm-4"
          >
            <div class="card">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true"
                alt="recommend 1"
              />
              <div
                class="py-4 px-4 d-flex flex-column justify-content-between card-info"
              >
                <div>
                  <h4 class="fw-bold mb-2">Jessy</h4>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                </div>
                <p class="date">2021/06/20</p>
              </div>
            </div>
          </li>
          <li
            class="recommend-item col-3 col-lg-6 col-sm-12 px-3 mb-lg-6 mb-sm-4"
          >
            <div class="card">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true"
                alt="recommend 1"
              />
              <div
                class="py-4 px-4 d-flex flex-column justify-content-between card-info"
              >
                <div>
                  <h4 class="fw-bold mb-2">凱倫</h4>
                  <p>
                    做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                  </p>
                </div>
                <p class="date">2021/04/18</p>
              </div>
            </div>
          </li>
          <li class="recommend-item col-3 col-lg-6 col-sm-12 px-3 mb-sm-4">
            <div class="card">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true"
                alt="recommend 1"
              />
              <div
                class="py-4 px-4 d-flex flex-column justify-content-between card-info"
              >
                <div>
                  <h4 class="fw-bold mb-2">悠悠</h4>
                  <p>
                    謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                  </p>
                </div>
                <p class="date">2020/12/25</p>
              </div>
            </div>
          </li>
          <li class="recommend-item col-3 col-lg-6 col-sm-12 px-3 mb-sm-4">
            <div class="card">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true"
                alt="recommend 1"
              />
              <div
                class="py-4 px-4 d-flex flex-column justify-content-between card-info"
              >
                <div>
                  <h4 class="fw-bold mb-2">Kyuan</h4>
                  <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                </div>
                <p class="date">2020/10/31</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- CONTACT_FORM -->
    <div class="contact-form">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6 col-lg-10 col-sm-12 px-3">
            <h3 class="subtitle text-primary-dark mb-12 mb-lg-6">聯絡我們</h3>
            <p class="mb-6">
              我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </p>
            <form>
              <div class="input-control mb-4">
                <label for="name" class="mb-2">姓名</label>
                <input type="text" placeholder="陳小明" id="name" />
              </div>
              <div class="input-control mb-4">
                <label for="tel" class="mb-2">聯絡電話</label>
                <input type="tel" placeholder="0912-345-678" id="tel" />
              </div>
              <div class="input-control mb-4">
                <label for="email" class="mb-2">電子郵件</label>
                <input
                  type="email"
                  placeholder="example@email.com"
                  id="email"
                />
              </div>
              <div class="input-control mb-4">
                <label for="review" class="mb-2">意見反應</label>
                <textarea
                  id="review"
                  cols="30"
                  rows="10"
                  placeholder="請輸入您的意見"
                ></textarea>
              </div>
              <div class="input-control mb-12 mb-sm-6">
                <input
                  type="checkbox"
                  id="privacy-terms"
                  name="privacy-terms"
                />
                <label for="privacy-terms"
                  >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
                >
              </div>
              <div class="input-control d-flex justify-content-center">
                <input
                  type="button"
                  value="確認送出"
                  class="btn-primary fw-bold"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
