<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>門市據點</title>
    <!-- material-icon CDN -->
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container py-80 py-sm-10">
      <h2 class="page-title mb-8 mb-sm-6">門市據點</h2>
      <div class="row">
        <div
          class="col-4 col-lg-7 col-sm-12 px-3 store-select mb-10 mb-sm-6 d-flex align-items-center"
        >
          <label for="store-select">選擇地區</label>
          <select name="pets" id="store-select" class="ml-4">
            <option value="Taipei">台北市</option>
            <option value="Taichung">台中市</option>
            <option value="Kaohsiung">高雄市</option>
          </select>
        </div>
      </div>

      <ul class="row store-list flex-wrap">
        <li class="col-4 col-lg-6 col-sm-12 px-3 mb-12 mb-lg-6">
          <div class="store-item">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
              alt="store 1"
            />
            <div class="store-name">
              <h3>台北中山旗艦店</h3>
            </div>
            <ul class="store-info">
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> call </span>
                <p>電話：(02)000-1234</p>
              </li>
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> schedule </span>
                <p class="d-flex mb-2">營業時間：10:00-21:00</p>
              </li>
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> place </span>
                <p>地址：台北市中山區南京東路25巷2-1號</p>
              </li>
            </ul>
            <a href="single_store.html">詳細資訊</a>
          </div>
        </li>
        <li class="col-4 col-lg-6 col-sm-12 px-3 mb-12 mb-lg-6">
          <div class="store-item">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true"
              alt="store 1"
            />
            <div class="store-name">
              <h3>台北綠園店</h3>
            </div>
            <ul class="store-info">
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> call </span>
                <p>電話：(02)000-2345</p>
              </li>
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> schedule </span>
                <p class="d-flex mb-2">營業時間：10:00-21:00</p>
              </li>
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> place </span>
                <p>地址：台北市中正區復興南路 132-1 號</p>
              </li>
            </ul>
            <a href="single_store.html">詳細資訊</a>
          </div>
        </li>
        <li class="col-4 col-lg-6 col-sm-12 px-3 mb-12 mb-lg-6">
          <div class="store-item">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true"
              alt="store 1"
            />
            <div class="store-name">
              <h3>台中清水旗艦店</h3>
            </div>
            <ul class="store-info">
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> call </span>
                <p>電話：(02)000-1234</p>
              </li>
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> schedule </span>
                <p class="d-flex mb-2">營業時間：10:00-21:00</p>
              </li>
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> place </span>
                <p>地址：台中市清水區經南一路 23 號 8 樓</p>
              </li>
            </ul>
            <a href="single_store.html">詳細資訊</a>
          </div>
        </li>
        <li class="col-4 col-lg-6 col-sm-12 px-3 mb-lg-6">
          <div class="store-item">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true"
              alt="store 1"
            />
            <div class="store-name">
              <h3>高雄中正形象店</h3>
            </div>
            <ul class="store-info">
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> call </span>
                <p>電話：(07)000-2345</p>
              </li>
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> schedule </span>
                <p class="d-flex mb-2">營業時間：10:00-21:00</p>
              </li>
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> place </span>
                <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
              </li>
            </ul>
            <a href="single_store.html">詳細資訊</a>
          </div>
        </li>
        <li class="col-4 col-lg-6 col-sm-12 px-3 mb-sm-6">
          <div class="store-item">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true"
              alt="store 1"
            />
            <div class="store-name">
              <h3>高雄夢時代店</h3>
            </div>
            <ul class="store-info">
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> call </span>
                <p>電話：(07)000-1234</p>
              </li>
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> schedule </span>
                <p class="d-flex mb-2">營業時間：10:00-21:00</p>
              </li>
              <li class="info-item d-flex align-items-baseline">
                <span class="material-icons-outlined mr-2"> place </span>
                <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
              </li>
            </ul>
            <a href="single_store.html">詳細資訊</a>
          </div>
        </li>
      </ul>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
