<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框</title>
    <!-- material-icon CDN -->
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 上方選單 -->
    <%- include('./components/sunglasses_menu'); -%>
    <!-- BANNER -->
    <div class="sunglasses-banner d-flex">
      <div class="left"></div>
      <div class="right"></div>
    </div>

    <!-- 產品列表 -->
    <div class="container optical-sec py-80 py-sm-10">
      <h2 class="text-center">2020 NEW COLLECTION</h2>
      <h3 class="text-center mb-8 mb-sm-6">賽璐珞鈦金屬混合鏡框</h3>
      <ul class="optical-list row flex-wrap">
        <li
          class="optical-item col-4 col-xl-6 col-md-12 px-3 mb-80 mb-lg-10 mb-sm-6"
        >
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true"
            alt=""
          />
          <div class="optical-info d-flex justify-content-between">
            <span class="title">BJ41600S</span>
            <span class="price">NTD3,490</span>
          </div>
          <ul class="color-list d-flex">
            <li class="color-1 mr-2"></li>
            <li class="color-2"></li>
          </ul>
        </li>
        <li
          class="optical-item col-4 col-xl-6 col-md-12 px-3 mb-80 mb-lg-10 mb-sm-6"
        >
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true"
            alt=""
          />
          <div class="optical-info d-flex justify-content-between">
            <span class="title">BJ41600S</span>
            <span class="price">NTD3,490</span>
          </div>
          <ul class="color-list d-flex">
            <li class="color-1 mr-2"></li>
            <li class="color-2"></li>
          </ul>
        </li>
        <li
          class="optical-item col-4 col-xl-6 col-md-12 px-3 mb-80 mb-lg-10 mb-sm-6"
        >
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true"
            alt=""
          />
          <div class="optical-info d-flex justify-content-between">
            <span class="title">BJ41600S</span>
            <span class="price">NTD3,490</span>
          </div>
          <ul class="color-list d-flex">
            <li class="color-1 mr-2"></li>
            <li class="color-2"></li>
          </ul>
        </li>
        <li
          class="optical-item col-4 col-xl-6 col-md-12 px-3 mb-80 mb-lg-10 mb-sm-6"
        >
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true"
            alt=""
          />
          <div class="optical-info d-flex justify-content-between">
            <span class="title">BJ41600S</span>
            <span class="price">NTD3,490</span>
          </div>
          <ul class="color-list d-flex">
            <li class="color-1 mr-2"></li>
            <li class="color-2"></li>
          </ul>
        </li>
        <li
          class="optical-item col-4 col-xl-6 col-md-12 px-3 mb-80 mb-lg-10 mb-sm-6"
        >
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true"
            alt=""
          />
          <div class="optical-info d-flex justify-content-between">
            <span class="title">BJ41600S</span>
            <span class="price">NTD3,490</span>
          </div>
          <ul class="color-list d-flex">
            <li class="color-1 mr-2"></li>
            <li class="color-2"></li>
          </ul>
        </li>
        <li
          class="optical-item col-4 col-xl-6 col-md-12 px-3 mb-80 mb-lg-10 mb-sm-6"
        >
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true"
            alt=""
          />
          <div class="optical-info d-flex justify-content-between">
            <span class="title">BJ41600S</span>
            <span class="price">NTD3,490</span>
          </div>
          <ul class="color-list d-flex">
            <li class="color-1 mr-2"></li>
            <li class="color-2"></li>
          </ul>
        </li>
      </ul>
      <!-- 分頁 -->
      <div class="d-flex justify-content-center mt-lg-10 mb-sm-6">
        <%- include('./components/pagination.ejs'); -%>
      </div>
    </div>

    <%-include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
